@{
    Layout = "_Layout"; 
}

<div class="hero-section">
    <div class="hero-text">
        <h1>Universidad Fidelitas</h1>
        <h3>100% Virtual Careers</h3>
        <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-register">Register Now</a>
        
    </div>
    <div class="hero-image">
        <img src="~/images/hero-image.png"
             alt="University Image"
             style="position: absolute; right: 300px; top: 200px; width: 450px; height: 616px; z-index: 10;">
    </div>
</div>
